<div class="row">
    <h2 class="landing-title">
        CONFERENCE ROOM BUILDINGS
    </h2>
</div>
<hr>
<div class="row row-margin-bottom row-box" *ngFor="let building of buildings">
    <div class="lib-panel" >
        <div class="row box-shadow">
            <div class="col-md-6 no-padding">

                <div class="lib-row lib-header">
                    <p>{{ building.buildingName | uppercase }} BUILDING </p>
                    <hr>

                    <div class="lib-row lib-desc">
                        {{ building.buildingDesc }}
                    </div>
                </div>

                <img src="../../content/images/building3/building.jpg" alt="">

            </div>
            <div class="col-md-6">

                <div class="lib-row">
                    <br>
                    <p style="padding-left: 150px;">Availablity Today</p>

                    <table class="table table-sm table-hover table-bordered table-striped" style="height: 19px;">
                        <thead class="" style="background-color: #c8def1">
                            <tr>
                                <th>Concerence Rooms Name</th>
                                <th>Concerence Room Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conf of building.conferenceRooms">
                                <td>{{ conf.roomName }}</td>
                                <td>{{ conf.roomNum }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="lib-row">
                    <a routerLink="/rooms/{{ building.buildingId }}">
                        <input style="border-radius: 5px;" class="btn btn-primary btn-lg" type="submit" name="reserve" id="reserve" value="More Details">
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>




