<div class="content">

    <div class="breadcrumb breadcrumb-option">
        <div class="navigation">
            <div class="nav-variant-breadcrumb">
                <h2 class="font-weight-bold text-center h1">Make a Reservation</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="reservation_steps">
            <span style="display: inline-block;" class="reservation_step">
                <div class="reservation_step_img">
                    <div class="reservation_step_img_text">
                        <strong>1</strong>
                    </div>
                    <div class="reservation_step_name">Reserve Information</div>
                </div>
            </span>
            <span style="display: inline-block;" class="reservation_step">
                <div class="reservation_step_img">
                    <div class="reservation_step_img_text">
                        <strong>2</strong>
                    </div>
                    <div class="reservation_step_name">Reservation Date</div>
                </div>
            </span>
            <span style="display:inline-block;" class="reservation_step">
                <div class="reservation_step_img">
                    <div class="reservation_step_img_text">
                        <strong>3</strong>
                    </div>
                    <div class="reservation_step_name">Reservtion Completed</div>
                </div>
            </span>
        </div>

        <p></p>

        <div class="row col-xs-12" style="margin-top: 15px;padding: 0;">
            <div class="col-md-8">
                <form id="reservation_form" name="reservation_form" action="" role="form" method="post">
                    <div>

                    </div>

                    <div class="form-button">
                        <label for="submit_form">&nbsp;</label>
                        <input style="border-radius: 5px;" type="submit" class="btn btn-primary btn-sm" value="Make reservation" name="submit_form" id="submit_form">
                    </div>
                </form>
            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>
</div>
