<section class="py-3">

    <div class="row">
        <h2 class="landing-title">
            CONFERENCE ROOMS BUILDING {{ buildingInfo.buildingName | uppercase }}
        </h2>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-7 col-sm-8"></div>
        <div class="col-xs-5 col-sm-4">
            <label style="font-weight: 500;"> <strong>Select a Conference Room</strong>
            </label>
            <select class="selectpicker" name="conferenceRoomOption" id="conferenceRoomOption" [(ngModel)]="selectedRoom">
                <option selected="selected" *ngFor="let room_choice of buildingInfo.conferenceRooms" [ngValue]="room_choice">
                    {{ room_choice.roomName }}
                </option>
            </select>
        </div>

    </div>

    <br>
    <div class="row">

        <div class="col-lg-5 mb-4">

            <div class="">
                <div class="">
                    <img src="../../content/images/building1/conference-room1.jpg" class="img-fluid " alt="">
                </div>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="form-header">
                <h3><p class="font-weight-300 text-center h1">Conference Room: {{ selectedRoom.roomName }}</p></h3>
                <hr>
            </div>


            <dl class="item-property">
                <dt style="font-weight: 500;"><span style="background-color: #dce1e2"> LOCATION </span></dt>
                <dd>
                    <p> {{ buildingInfo.buildingDesc }}</p>
                </dd>
            </dl>

            <dl class="item-property">
                <dt style="font-weight: 500;">CURRENTLY AVAILABLE</dt>
                <dd>
                    <p>{{ selectedRoom.activeIndicator }}</p>
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-7">
                    <dl class="param param-feature">
                        <dt>Equipments Provided</dt>
                        <dd>
                            <div class="bg">
                                <div class="chiller_cb" *ngFor="let equip of building_info.conference_room.equipment">
                                    <input id="myCheckbox" type="checkbox" checked onclick="return false;">
                                    <label for="myCheckbox">{{ equip.equipment_name }}</label>
                                    <span></span>
                                </div>

                            </div>
                        </dd>
                    </dl>

                    <dl class="item-property">
                        <dt>Capacity</dt>
                        <dd>
                            <p>{{ building_info.conference_room.room_capacity }} </p>
                        </dd>
                    </dl>

                    <dl class="item-property">
                        <dt>Reservation</dt>
                        <dd>
                            <a routerLink="/reservation/{{ building_info.conference_room.room_number }}">
                                <input style="border-radius: 5px;" class="btn btn-primary btn-lg" type="submit" name="reserve" id="reserve" value="Schedule a Room">
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-4">
                    <dl>
                        <dt>
                            <strong>Schedule availablity View</strong>
                        </dt>
                        <dd>
                            <p-calendar [(ngModel)]="date10" id="driverLicExpCal" inputStyleClass="driverLicExpCal" [inline]="true">
                                <ng-template pTemplate="date" style="width: 200px;" let-date>
                                    <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#FFBAB8' : 'inherit'}" style="border-radius:10%; font-size:1.25em; color:dimgray; padding-left:20px;">{{date.day}}</span>
                                </ng-template>
                            </p-calendar>
                        </dd>
                    </dl>

                </div>

            <dl class="param param-feature">
                <dt style="font-weight: 500;">EQUIPMENTS PROVIDED</dt>
                <dd>
                    <div class="bg">
                        <div class="chiller_cb" *ngFor="let equip of selectedRoom.equipments">
                                <label >{{ equip.equipmentName }}</label> -  <span>{{ equip.equipmentDesc }}</span>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="item-property">
                <dt style="font-weight: 500;">CAPACITY</dt>
                <dd><p>{{ selectedRoom.roomCapacity }} </p></dd>
            </dl>

            <dl class="item-property">
                <dt style="font-weight: 500;">RESERVATION</dt>
                <dd>
                    <a routerLink="/reservation/{{ selectedRoom.conferenceRoomId }}">
                         <input style="border-radius: 5px;" class="btn btn-primary btn-sm" type="submit" name="reserve" id="reserve" value="Schedule a Room">
                     </a>
                </dd>
            </dl>

            </div>
            <!--Grid column-->

        </div>

    </div>



</section>
